persist/
storage/
Blog.Rproj
.Rhistory
.RData
/.quarto/
.Rproj.user
*.Rhistory
.Rhistory
posts/LLM_Demo/secrets
posts/LLM_api/secrets
.Renviron
.Renviron0
_extensions/
venv/
posts/LLM_Demo/venv
id_rsa
id_rsa.pub
posts/LLM_Demo/persist/my_vector_store.duckdb
/.quarto/
cron_test.log
.Renviron
id_rsa
id_rsa.pub
venv/
posts/LLM_Demo/.env
posts/LLM_Demo/venv




