persist/
storage/
Blog.Rproj
.Rhistory
.RData
/.quarto/
.Rproj.user
*.Rhistory
.Rhistory
posts/LLM_Demo/secrets
posts/LLM_api/secrets
.Renviron
.Renviron0
venv/
posts/LLM_Demo/venv
id_rsa
id_rsa.pub
posts/LLM_Demo/persist/my_vector_store.duckdb
/.quarto/
cron_test.log
.Renviron
id_rsa
id_rsa.pub
venv/
posts/LLM_Demo/.env
posts/LLM_Demo/venv
docs/posts/LLM_Demo/index_files/
docs/posts/Shinylive/index.knit.md
posts/LLM_Demo/.gradio/certificate.pem
posts/LLM_Demo/BBB/
posts/LLM_Demo/gradio-screen-recording-2025-07-31T21-14-31.mp4
posts/LLM_Demo/index0.ipynb0
posts/LLM_Demo/LLM.quarto_ipynb0
posts/LLM_Demo/index0.qmdbak
posts/LLM_Demo/index00.qmd00
posts/pyspark/clean_cafc_en.csv
posts/pyspark/clean_cafc_en.tsv
posts/pyspark/clean_cafc_en_write.csv
posts/pyspark/fraud_report.py
posts/pyspark/index0.ipynb0
posts/pyspark/outputs_2025_Q2/
posts/pyspark/u.data
posts/test_gradio/
welcome_yaml.txt
posts/pyspark/34100140-eng.zip

